<div class="container row">
    <div class="well well-sm" style="margin-right: 2%; display: inline-block; width: 23%;" ng-repeat="item in items">
        <div class="media" ng-href="#/itemDetails/{{item.id}}">
            <a class="pull-left" href="#/itemDetails/{{item.id}}">
                <img class="media-object" src="#" alt="Image">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ item.name | uppercase}}</h4>
                <p>{{ item.price | currency : $ : 2 }}</p>
            </div>
        </div>
    </div>
</div>
